.page-header
  %h1 Correct everything you need
.row
  .col-sm-3.well#snippet-form
    %legend.clearfix
      %span.pull-left
        Edit snippet
      %span.pull-right
        %i.fa.fa-edit
    = render 'snippets/form'
  .col-sm-1.hidden-xs

  .col-sm-8
    = render 'snippets/result', action: 'update snippet', snippet: @snippet

:javascript
  $(document).on("ready page:load", function(){
    load_result_snippet();
  })





