#search-snippets
  .input-group.col-md-12
    %input.search-query.form-control{placeholder: "Search for snippets...", type: "text"}/
    %span.input-group-btn
      %button.btn.btn-danger{type: "button"}
        %i.fa.fa-search
