#snippet-form
  label
    font-weight: bold
  textarea
    resize: none
  #snippet_description
    height: 100px
  #snippet_smelly_body
    height: 300px
  sup
    top: -2em
    left: -0.5em
    font-size: 40%

.snippet
  p.description
    font-size: 15px
    margin-bottom: 10px
  p.description, .title-container
    word-wrap: break-word
  .panel-heading a
    color: white
  legend
    margin-top: 20px
  a.edit
    border-bottom: 1px dotted #158cba

.separator
  i
    font-weight: bold
    margin: 20px 0
    font-size: 30px







