#new-snippet
  textarea
    resize: none
  #snippet_description
    height: 100px
  #snippet_smelly_body
    height: 300px

.snippet
  .header
    table
      td
        padding: 5px
        //border-right: 2px solid black
  .code
    pre
      background-color: inherit
      border: none
