#new-snippet
  textarea
    resize: none
  #snippet_description
    height: 100px
  #snippet_smelly_body
    height: 300px

.snippet
  p.description
    font-size: 15px
  .header
    table
      td
        padding: 5px
  .code
    pre
      background-color: inherit
      border: none
  .panel
    box-shadow: none
    -webkit-box-shadow: none
    margin-bottom: 0
  .panel-heading
    a
      color: white
      text-decoration: underline
  .panel-collapsed
    border-radius: 3px
  .panel-body
    padding: 0
    .btn
      border-radius: 0
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px
      margin-top: 0px
      border: 1px solid #23a127

.foot-fixed-bottom
  bottom: 0
  display: block
  left: 0
  margin-bottom: 0
  position: fixed
  right: 0
  z-index: 1030
  hr
    border-image: none
    border-style: solid none
    border-width: 1px 0
    margin: 0 0 5px
    width: 100%
  p
    color: rgb(255, 255, 255)
    font-size: 14px
    margin: 0 12px 15px



