%footer
  %hr
  .container
    .built-with
      Built with
      = link_to 'Twitter Bootstrap', 'http://getbootstrap.com/', target: '_blank'
      and
      = link_to 'Lumen', 'http://bootswatch.com/lumen/', target: '_blank'
    .contact
      = mail_to("ifyourcodesmells@gmail.com")
    .author
      Oleg Kiviljov &bull; 2014
